
<form  [formGroup]="RegisterForm" (ngSubmit)="Register()"  class="bg-slate-100 m-5 w-[70%] p-7 mx-auto">
<div class="flex justify-center items-center">
  <div class=" bg-main-clore head flex justify-center m-4 items-center">
<h1 class=" text-white p-4  inline-block font-mainFont text-4xl">Registertion form</h1>
</div>
</div>
  <h3 class="font-mainFont text-white rounded-lg  bg-red-400">{{errmsg}}</h3>
  <div class="mb-5">
    <label  for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
    <input formControlName="name" type="text" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="name" required />   
  </div>
   @if ( RegisterForm.get('name')?.errors && RegisterForm.get('name')?.touched)
   {
<div class="bg-red-400 rounded-lg p-0 m-0 text-black">
@if (RegisterForm.get('name')?.errors?.['required']) {
<p class="p-3">name is required</p>
}
@else if (RegisterForm.get('name')?.errors?.['minlength']) {
<p class="p-3">minLength is 3 letter</p>
}

  </div>
  }
  <div class="mb-5">
    <label for="email"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
    <input type="email" formControlName="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="email@....." required />
  </div>
   @if ( RegisterForm.get('email')?.errors && RegisterForm.get('email')?.touched)
   {
<div class="bg-red-400 rounded-lg p-0 m-0">
@if (RegisterForm.get('email')?.errors?.['required']) {
<p class="p-3">email is required</p>
}
@else if (RegisterForm.get('email')?.errors?.['email']) {
<p class="p-3">email is not valide</p>
}

  </div>
  }
  <div class="mb-5">
    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">phone </label>
    <input type="tel" formControlName="phone" id="phone" placeholder="phone" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
  </div>
   @if ( RegisterForm.get('phone')?.errors && RegisterForm.get('phone')?.touched)
   {
<div class="bg-red-400 rounded-lg p-0 m-0 text-black">
@if (RegisterForm.get('phone')?.errors?.['required']) {
<p class="p-3">phone is required</p>
}
@else if (RegisterForm.get('phone')?.errors?.['pattern']) {
<p class="p-3">phone number is not valide</p>
}

  </div>
  }
  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
    <input formControlName="password" type="password" id="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
  </div>
   @if ( RegisterForm.get('password')?.errors && RegisterForm.get('password')?.touched)
   {
<div class="bg-red-400 rounded-lg p-0 m-0 text-black">
@if (RegisterForm.get('password')?.errors?.['required']) {
<p class="p-3">password is required</p>
}
@else if (RegisterForm.get('password')?.errors?.['pattern']) {
<p class="p-3">password must heve at lest one capital letter</p>
}
@else if (RegisterForm.get('password')?.errors?.['minlength']) {
<p class="p-3">password must heve at lest 8 CHAR</p>
}
  </div>
  }
  <div class="mb-5">
    <label for="repeat-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat password</label>
    <input formControlName="rePassword" type="password" id="repeat-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
  </div>
   @if ( RegisterForm.get('rePassword')?.errors && RegisterForm.get('rePassword')?.touched)
   {
<div class="bg-red-400 rounded-lg p-0 m-0 text-black">
@if (RegisterForm.get('rePassword')?.errors?.['required']) {
<p class="p-3">rePassword is required</p>
}
@else if (RegisterForm.get('rePassword')?.errors?.['mismatch']) {
<p class="p-3">the rePassword dosnt match password</p>
}

  </div>
  }
  @if (isloading ) {
    
<button disabled  class="ml-[85%] text-white  bg-main-clore hover:bg-[#097309]   font-medium rounded-lg text-sm px-5 py-2.5 text-center">
<svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
<path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
</svg>
Loading...
</button>
  }
@else {
<button [disabled]="RegisterForm.invalid"  class="disabled:bg-gray-600 ml-[90%] text-white  bg-main-clore hover:bg-[#097309]   font-medium rounded-lg text-sm px-5 py-2.5 text-center">
Register
</button>

}


  <button  type="submit" class="  "></button>
</form>
