.head {
    border-radius: 39% 61% 47% 53% / 24% 60% 40% 76% ;
    -moz-border-radius: 39% 61% 47% 53% / 24% 60% 40% 76% ;
    -ms-border-radius: 39% 61% 47% 53% / 24% 60% 40% 76% ;
    -o-border-radius: 39% 61% 47% 53% / 24% 60% 40% 76% ;
    -webkit-border-radius: 39% 61% 47% 53% / 24% 60% 40% 76% ;
}