
<div class="flex flex-wrap p-3">
 @for (item of prands.data; track $index) {
   <div class="w-3/12 p-3">
<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="h-[200px] p-8 w-full rounded-t-lg" [src]="item.image" alt="product image" />
    </a>
    <div class="px-5 pb-5">
        <a href="#">
            <h5 class=" font-semibold tracking-tight text-sm text-gray-900 dark:text-white">{{item.name}}</h5>
        </a>
    </div>
</div>
    </div>
 }
</div>
<div class="flex justify-center items-center flex-nowrap p-3">
    <button
      [disabled]="currentPage == 1"
      class="disabled:bg-gray-600 bg-emerald-800 py-2 px-3 me-2 rounded-xl text-white hover:bg-emerald-600 focus:bg-emerald-950 transition-all duration-300 ease-in-out"
      (click)="loadPrevPage()"
    >
     
            <i class="fa-solid fa-arrow-left"></i>
      
    </button>

    <!-- get all pages numbers -->
    @for(page of pages ; track $index) {
    <button
      [disabled]="currentPage == page"
      class="disabled:cursor-default disabled:bg-gray-600 bg-emerald-800 py-2 px-3 me-2 rounded-xl text-white hover:bg-emerald-600 focus:bg-emerald-950 transition-all duration-300 ease-in-out"
      (click)="loadPage(page)"
    >
      {{ page }}
    </button>
    }

    <!-- load next page -->
    <button
      [disabled]="currentPage == totalPages"
      class="disabled:bg-gray-600 bg-emerald-800 py-2 px-3 rounded-xl text-white hover:bg-emerald-600 focus:bg-emerald-950 transition-all duration-300 ease-in-out"
      (click)="loadNextPage()"
    >
      
      <i class="fa-solid fa-arrow-right"></i>
      
    </button>
  </div>