<div class="container mx-auto">
<mat-stepper class="my-4" linear #stepper>
  <mat-step  [stepControl]="firstFormGroup" [editable]="isEditable">
    <form  [formGroup]="firstFormGroup">
      <ng-template matStepLabel>enter your Email</ng-template>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email"  formControlName="email" placeholder="Email" required>
      </mat-form-field>
      <div>
        <button (click)="sendcode()" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>password reset <code></code></ng-template>
      <mat-form-field>
        <mat-label>code</mat-label>
        <input matInput type="text" formControlName="resetCode" placeholder="code"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button (click)="verifyResetCode()" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step  [formGroup]="thirdFormGroup">
    <ng-template  matStepLabel>Done</ng-template>
        <input matInput [(ngModel)]="email" readonly type="email"  formControlName="email" placeholder="email">
        <input matInput type="password" formControlName="newPassword" placeholder="newPassword">
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="Resetpasswod()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
</div>